
  .container {
    width: 30vw;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    
  }
  .button {
    color: #fff;
      font-size: 0.8rem;
      line-height: 1;
      border-style: none;
      outline: none;
      // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
      height: calc(1.5em + 1.6em + 0.5em);
      width: 150px;
      padding: 0.8em 0.1em;
      border: 0.25em solid transparent;
      background-image: 
        linear-gradient(120deg, rgb(161, 85, 201) 0%, rgb(16, 170, 170) 50%, rgb(161, 85, 201) 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      border-radius: 1.8em;
      background-size: 200% 100%;
      transition: background-position 0.8s ease-out;
      
      &:hover {
        background-position: 100% 0;
      }
  }
  .input-group {
    width: 100%;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    z-index: 2;

  
    @supports (mix-blend-mode: darken) {
      position: relative;
      mix-blend-mode: lighten;
  
      &__label {
        position: absolute;
        left: 3em;
        top: -0.28em;
        background: #000;
      }
    }
  
    &__label {
      padding: 0 0.5em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      font-size: 0.75em;
      letter-spacing: 0.1em;
      color: #ccd;
      color: rgba(255, 220, 255, 0.6);
      cursor: pointer;
    }
  
    &__input {
      color: white;
      background-color: #000;
      font-size: 1.0rem;
      line-height: 1;
      border-style: none;
      outline: none;
      // height calc line-height + (vertical-padding * 2) + (vertical-border * 2)
      height: calc(0.1em + 1.6em + 0.5em);
      width: 100%;
      padding: 0.8em 0.1em;
      border: 0.25em solid transparent;
      background-image: linear-gradient(#000, #000),
        linear-gradient(120deg, rgb(161, 85, 201) 0%, rgb(43, 202, 202) 50%, rgb(161, 85, 201) 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      border-radius: 1.8em;
      background-size: 200% 100%;
      transition: background-position 0.8s ease-out;
      
      &:hover {
        background-position: 100% 0;
      }
  
      &:focus {
        outline: 2px dashed rgb(159, 62, 224);
        outline-offset: 0.2em;
      }
    }
  }
  
  
  