body {
  background-image: url('../public/rgky.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100dvh;
}


.mainHeading{
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 0vh; /* Full height of the viewport */
    margin: 100px; /* Remove default margin */
    font-family: 'Roboto', sans-serif; /* Fallback font while your web font loads */
}

.smallHeading{
  font-family: 'Roboto', sans-serif; /* Fallback font while your web font loads */
  color:white;
}
h2{
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 0vh; /* Full height of the viewport */
  margin: 0px; /* Remove default margin */
  font-family: 'Roboto', sans-serif; /* Fallback font while your web font loads */
}

.inputAndVideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px
}

.inputs{
  margin: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 0vh;
  gap:200px;

}